/*

Theme Name: Ruggeweh-Theme


Theme URI: 
https://www.ruecken-schmerz.ch/

Description: Das WordPress-Theme für die Landing-Page

Version: 1.00

Author: Pascal Köchli

Author URI: 
https://www.bechterew.ch

Text Domain: ruggeweh
Domain Path: /languages

*/
@import url('css/bootstrap.min.css');
body{
    font-family: 'Roboto', sans-serif;
}
a:hover{
    text-decoration: none;
}
#diagnoseForm a{
    color:#0053a1;
}
#diagnoseForm .btn{
    color: white;
}
.btn.language{
    /*background-color: rgba(255,255,255,0.2);*/
    color:white;
    background-color: rgba(0, 83, 120,1);
}
.background.blue{
    background-color: rgba(0, 83, 161,1) /*#0053a1*/;
    color:white;
}
.background.blue.header{
    background-image:url(img/headerbild_blau2.jpg);
    color:white;
    padding-top:40px;
    background-size: cover;
}
.background.blue.parallax{
    background-image: url(img/Crowd_blau_1920quali40.jpg);
    background-attachment: fixed;
    background-size:cover;
}
@media(min-width:768px){
    .background.blue.parallax{
        padding-top:100px;
    }
    .background.blue.uebung{
        padding-top:100px;
    }
}
.background.blue.uebung{
    background-image:url(img/melanie_nicht_fuer_parallax.jpg);
    background-size:cover;
}
.background.grey{
    background-color:#e6e6e6;
    color:black;
}
.background.white{
    background-color:white;
    color:black;
}
.bg-grey{
    background-color:#e6e6e6 !important;
}
.form.white{
    background-color:white;
    color:black;
    border-radius: 5px;
    padding: 10px;
}
.angle-separator.greyAngle{
    fill:#e6e6e6;
}
.angle-separator.blueAngle
{
    fill:#0053a1;
}
.angle-separator.whiteAngle{
    fill:#ffffff;
}
.angle-separator.angle-bottom{
    margin-bottom: -69px;
    width:100%;
    bottom:-50px;
}
.angle-separator.angle-top{
    margin-top: 0px;
    width:100%
}
.angle-separator {
    height: 70px;
    position: absolute;
    top:-69px;
}
.angle-separator.angle-bottom {
    top: auto;
    bottom: 0px;
    width:100%;
}
.angle{
    position:relative;
}
svg:not(:root) {
    overflow: hidden;
}
.noPadding{
    padding-left:0px;
    padding-right:0px;
}

.whiteborder{
    border:2px solid white;
}
.addAnglePaddingTop{
    padding-top:80px;
}
.addAnglePaddingBottom{
    padding-bottom:80px;
}
.addPaddingTop{
    padding-top:40px;
}
.addPaddingTopHalf{
    padding-top:20px;
}
.addPaddingTopQuarter{
    padding-top:10px;
}
.addPaddingRight{
    padding-right:20px;
}
.addPaddingBottom{
    padding-bottom: 40px;
}
.addPaddingBottomHalf{
    padding-bottom: 20px;
}
.addPaddingBottomQuarter{
    padding-bottom: 10px;
}
.icons{
    font-size:50px;
    height:50px;
}
.icons.blue{
    color:#0053a1;
}
.vertical-divider.white{
    border-left: 2px solid white;
}
.card-header a{
    color:black;
}
.diagnosetest div{
    padding-bottom: 10px;
}

.testheader hr{
    margin-top:10px;
}
hr.bechterewblau{
    border-top: 2px solid rgba(0, 83, 161,1);

}
hr {
    height: 1px;
    width: 100%;
}
.disabledText{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    color:gray;
}
.hidden {
    display: none !important;
}
.icons.small{
    font-size:20px;
}
.icons.big{
    font-size:80px;
    color:rgba(255,255,255,0.8);
    height:80px;
}
.grey{
    color:grey;
}
.white{
    color:white;  
}
.small-text{
    font-size:12px;
    line-height: 18px;
}
.sponsorImage{
    height:80px;
}
.sponsorImage.small{
    height:50px;
}
.sponsorImage.medium{
    height:65px;
}
.btn-flat:hover{
    background-color: #0069d9;
    color:white;
}
.btn-flat{
    background-color: Transparent;
    border: 1px solid white;
    color:white;
}

.btn-cornered{
    border-radius: .25rem;
}
.diagnosetest{
    padding-left: 20px;
    padding-right:20px;
}
.testheader{
    padding-top:20px;
}
.card-collapse{
    border: none;
}
.card-collapse .card-header{
    border:none;
}
.card-collapse .card-block{
    padding-left: 58px;
}
.btn-primary{
    background-color: rgba(0, 83, 161,1);

}

.card-header{
    background-color:#e6e6e6;
}
a{
    color:black;
}
@media (max-width:768px){
    .custom-control-label::before,
    .custom-control-label::after {
        width: 1.25rem;
        height: 1.25rem;
    }
}
.fa-stack{
    height:1.4em !important;
    line-height: 1.4em !important;
}
.fa-stack-2x{
    font-size:1.4em !important;
}
.fa-stack-1x{
    font-size:0.7em !important;
}
.minusMargin{
    margin-top: -1.4em;
}
h4{
    line-height: 1.45em;
}
.social span:hover i.fa-circle{
    color:lightgray;
}
.social span:hover i.fab{
    color:black;
}
.backtotop{
    position:fixed;
    right:5px;
    bottom:5px;
    z-index:1;
    display:none;
}
